<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
</head>
<body>
<div id="doc">
  <div id="tp">
    <qbtop></qbtop>
  </div>
  <div id="hd" class="container">
    <qbheader></qbheader>
  </div>
  <div id="bd" class="container">
    <qbbody></qbbody>
  </div>
  <div id="ft">
    <qbfooter></qbfooter>
  </div>
</div>
</body>
</html>

